<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Himalaya's Personal Site</title>
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/himal.png" alt="himalaya profile picture"></td>
        <td><h1>Himalaya Pal</h1>
        <p><em>Computer Engineer.</a></strong>.</em></p>
        <p>I am an Computer Engineering Student and Web Developer and basic python programmer. I ❤️ coffee and love to travel.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <tbody>
      <p>None. Still Studying.</p>
    </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody>
      <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Illustrator</td>
        <td>⭐️️⭐️️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.com/palhimalaya">Github</a>
    <a href="https://www.instagram.com/palhimalaya/">Instagram</a>
  

</body></html>